.App {
	text-align: center;
	color: #0000FF;

	font-family: "Trebuchet MS", sans-serif;
	background-color:#D4F1F4;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

h1 {

	font-size: 5em;
	letter-spacing: -2px;
	text-transform: uppercase;
	padding-top: 2%;
	color: #0000FF;
   }

p,h3{
	padding: 0 25%;
	color: #0000FF;
   }


   h5{
	padding: 0 25%;
	color: white;
   }

h6{

	padding: 0 25%;
}

nav{

	padding-bottom: 2%;
}

.carousel{

	height: 40%;
	width: 40%;
	margin:auto;
	padding-bottom: 5%;
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root {

	background-color:#8A8AFF !important;

}